{% extends "layout.html" %}

{% block title %}
    /
{% endblock %}</title>

{% block main %}
<table class =  table>
    <thead>
        <tr>
            <th class="text-start" scope ="col">Symbol</th>
            <th class="text-start" scope = "col">Name</th>
            <th class="text-end" scope = "col">Shares</th>
            <th class="text-end" scope = "col">Current Price</th>
            <th class="text-end" scope = "col">TOTAL</th>
        </tr>
    </thead>
   <tbody>
        {% for row in portfolio %}
        <tr>
            <td class="text-start"> {{ row["symbol"] }} </td>
            <td class="text-start">{{ row["name"] }} </td>
            <td class="text-end"> {{ row["sum"] }} </td>
            <td class="text-end"> {{ row["current_price"] }} </td>

            <td class="text-end"> {{ row["total"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <th class="text-end" scope ="col">Cash</th>
            <th class="text-end" scope = "col">{{available_user_cash}}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="border-0 fw-bold text-end">TOTAL</td>
            <td class="border-0 w-bold text-end">{{grand_total}}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}